:root {
  --color-darkest: #343a40;
  --color-dark: #495057;
  --color-medium: #ced4da;
  --color-light: #f1f3f5;

  --color-theme: #1098ad;
  --color-accent: #ffa94d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  color: var(--color-light);
  background-color: var(--color-darkest);
  padding: 3.2rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  max-width: 50rem;
  width: 100%;
}

/* HEADER */

.header {
  margin-bottom: 4rem;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.header img {
  width: 12.8rem;
  max-width: 100%;
  animation: spin infinite 20s linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: "Codystar", cursive;
  font-size: 5.6rem;
}

/* LOADER */

.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.6rem;
  color: var(--color-medium);
  font-size: 14px;
}

.loader {
  width: 50px;
  height: 24px;
  background: radial-gradient(circle closest-side, currentColor 90%, #0000) 0%
      50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 50% 50%,
    radial-gradient(circle closest-side, currentColor 90%, #0000) 100% 50%;
  background-size: calc(100% / 3) 12px;
  background-repeat: no-repeat;
  animation: loader 1s infinite linear;
}

@keyframes loader {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}

/* ERROR */

.error {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 2rem;
  background-color: var(--color-dark);
  border-radius: 100px;
}

/* START SCREEN */

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.start h2 {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}

.start h3 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 4rem;
}

/* BUTTON */

.btn {
  display: block;
  font-family: inherit;
  color: var(--color-light);
  font-size: 2rem;
  border: 2px solid var(--color-dark);
  background-color: var(--color-dark);
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 100px;
  transition: 0.3s;
  user-select: none;
}

.btn:not([disabled]):hover {
  background-color: var(--color-darkest);
}

.btn[disabled]:hover {
  cursor: not-allowed;
}

.btn-right {
  float: right;
}

/* PROGRESS */

.progress {
  margin-bottom: 4rem;
  display: grid;
  justify-content: space-between;
  gap: 1.2rem;
  grid-template-columns: auto auto;
  font-size: 1.8rem;
  color: var(--color-medium);
}

progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 1.2rem;
  grid-column: 1 / -1;
}

::-webkit-progress-bar {
  background-color: var(--color-medium);
  border-radius: 100px;
}

::-webkit-progress-value {
  background-color: var(--color-theme);
  border-radius: 100px;
}

/* QUESTIONS */

h4 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

.btn-option {
  width: 100%;
  text-align: left;
}

.btn-option:not([disabled]):hover {
  transform: translateX(1.2rem);
}

.options .correct {
  background-color: var(--color-theme);
  border: 2px solid var(--color-theme);
  color: var(--color-light);
}

.options .wrong {
  background-color: var(--color-accent);
  border: 2px solid var(--color-accent);
  color: var(--color-darkest);
}

.options .answer {
  transform: translateX(1.8rem);
}

/* TIMER */

.timer {
  float: left;
  font-size: 1.8rem;
  color: var(--color-medium);
  border: 2px solid var(--color-dark);
  padding: 1.35rem 2.8rem;
  border-radius: 100px;
}

/* FINISH SCREEN */

.result {
  background-color: var(--color-theme);
  color: var(--color-light);
  border-radius: 100px;
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.result span {
  font-size: 2.2rem;
}

.high-score {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

/* RESPONSIVE QUERIES */

@media (max-width: 38em) {
  html {
    font-size: 56.25%;
  }
  .header img {
    width: 9.8rem;
  }
  h1 {
    font-size: 4.4rem;
  }
}

@media (max-width: 31em) {
  html {
    font-size: 50%;
  }
  .header {
    gap: 2.4rem;
  }
  .header img {
    width: 8.6rem;
  }
  h1 {
    font-size: 3.6rem;
  }
  .start h2 {
    font-size: 3rem;
  }
  .start h3 {
    font-size: 2rem;
  }
}
